@charset "utf-8";
/*
Author: Chris Charles
Date: 2023/04/11
Description: CSS file for Eportfolio site GoalPage.
*/

h1
{
    text-align: center;
}

.flex-containter
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.personalGoals
{
    margin-top: 5%;
    width: 50%;
    height: 100%;
}

.personalGoals h2

{
    margin-left: 5%;   
}

.personalGoals ol li
{
    margin-left: 5%;
}

.goalImage
{
    margin-top: 5%;
    width: 50%;
    height: 100%;
    justify-content: center;
}

.goalImage img
{
    margin-left: 8%;
    width: 85%;
    height: 90%;
}

