.heroSection {
    background: black;
    overflow: hidden;
}

h2
{
    color: green;
    text-align: center;
}

p
{
    color: green;
}

body {
    margin: 0;
    padding: 0;
}

html
{
    background-color: black ;
}

/* =============================================
   Tablet and Desktop Styles: greater than 700px
   =============================================
*/

@media (min-width: 701px)
{
    .heroSection
    {
        height: 100vh;
    }

    canvas
    {
        width: 100%;
    }

    body
    {
        width: 100%;
    }
    p
    {
        display: block;
        width: 90%;
        margin: 0 5%;
    }
}

/* ===============================
   Mobile Styles: 0px to 700px 
   ===============================
*/

@media (max-width: 700px) 
{
    canvas
    {
        height: 100vh;
    }
    p
    {
        display: block;
        width: 90%;
        margin: 0 5%;
    }
}