@charset "utf-8";
/*
Author: Chris Charles
Date: 2023/02/16
Description: CSS file for mainly resume page layout 
*/

/*Resume Grid-Layout*/
.reHeading{ grid-area: reHeading; }
.reContact{ grid-area: reContact; }
.reProfile{ grid-area: reProfile; }
.reSkills{ grid-area: reSkills; }
.reExperience{ grid-area: reExperience;}
.reEducation{ grid-area: reEducation; }

.resume-grid-container{
    display: grid;
    grid-template-areas: 
    'reHeading reHeading reHeading'
    'reContact reProfile reProfile'
    'reSkills reExperience reExperience'
    'reEducation reExperience reExperience';
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    background-color: white;
}

.resume-grid-container > div{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.reHeading{
    text-align: left;
}

.reContact{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.reProfile{
    border-bottom: 1px solid black;
}

.reSkills{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.reEducation{
    border-right: 1px solid black;
}


#Resume_Header{
    margin-left: 8%;
}

#Career_Title{
    margin-left: 8%;
}