@charset "utf-8";
/*
Author: Chris Charles
Date: 2023/02/16
Description: CSS file for mainly resume page layout 
*/

h1
{
    text-align: center;
}

.flex-container
{
    background-color: white;
    font-family: "Rockwell", serif;
    color: gray;
}

.reName-Container, h1, h2
{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Rockwell", serif;
}

.reName-Container h1
{
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
}

.reContact-Container ul
{
    list-style: none;
}

.jobTitle
{
    color: turquoise;
    font-weight: bold;
}

.jobLocation
{
    font-weight: bold;
}

h4
{
    font-weight: bold;
    color: turquoise;
}

.school
{
    color: gray;
    font-family: "Rockwell", serif;
}

/* =============================================
   Tablet and Desktop Styles: greater than 700px
   =============================================
*/

@media (min-width: 701px)
{

    .flex-container
{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

/* Resume Name Styling */

.reName-Container
{
    width: 50%;
}

/* / */

/* Resume Contact Styling */
.reContact-Container
{
    width: 50%;
}

.reContact-Container ul
{
    text-align: end;
    margin-right: 10%;
    margin-top: 10%;
}

/* Resume Intro Styling */
.reSelfIntro-Container
{
    width: 90%;
    margin: 0 5%;
    border-bottom: darkgrey solid 1px;
}

.reSelfIntro-Container p
{
    color: gray;
    font-family: "Rockwell", serif;
}


/* Resume Skills Styling */
.reSkills-Container
{
    width: 100%;
    border-bottom: darkgrey solid 1px;
    margin: 0 5%;
}

.reSkills-Container h2
{
    font-family: "Rockwell", serif;
}

.reSkills-Container li
{
    color: gray;
    font-family: "Rockwell", serif;   
}

/* Resume Education Styling */
.reEducation-Container
{
    width: 90%;
    margin: 0 5%;
    border-bottom: darkgrey solid 1px;
}

.reEducation-Container h2
{
    font-family: "Rockwell", serif;
}

/* Resume Experience Styling */
.reExperience-Container
{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.reExperience-Container
{
    font-family: "Rockwell", serif;
}

.reExperience-Container p
{
    color: gray;
}

.reExperience-Container li
{
    color: grey;
}



}

/* ===============================
   Mobile Styles: 0px to 700px 
   ===============================
*/

@media (max-width: 700px) 
{
    .flex-container
    {
        background-color: white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    
    }

    .reName-Container   
    {
        width: 100%;
        text-align: center;
    }

    .reContact-Container
    {
        width: 100%;
        text-align: left;
    }

    .reContact-Container ul
    {
        width: 100%;
        text-align: left;
        margin: 0 2.5%;
    }

    .reSelfIntro-Container
    {
        width: 100%;
        margin: 0 10%;
        border-bottom: 1px solid gray;
    }

    /* Skill Sections */
    .reSkills-Container
    {
        width: 100%;
        margin: 0 10%;
        border-bottom: 1px solid gray;
    }

    .reSkills-Container ul
    {
        margin: 5% 0;
    }

    /* Education Section */
    .reEducation-Container
    {
        width: 100%;
        margin: 0 10%;
        border-bottom: 1px solid gray;
    }

    /* Experice Section */
    .reExperience-Container
    {
        width: 100%;
        margin: 0 10%;
    }
}




/* 
@media only screen and (max-width: 768px) {
	/*Mobile Phone*/

    /*Change content to display in 1 column
	.resume-grid-container {
        display: flex;
        flex-direction: column;
    }
    .resume-grid-container .reHeading{order: 1;}
    .resume-grid-container .reContact{order: 2;}
    .resume-grid-container .reProfile{order: 3;}
    .resume-grid-container .reSkills{order: 4;}
    .resume-grid-container .reExperience{order: 5;}
    .resume-grid-container .reEducation{order: 6;}

}

@media only screen and (min-width: 769px) {
	/*Tablet Phone*/

	/*Resume Grid-Layout
    .reHeading{ grid-area: reHeading; }
    .reContact{ grid-area: reContact; }
    .reProfile{ grid-area: reProfile; }
    .reSkills{ grid-area: reSkills; }
    .reExperience{ grid-area: reExperience;}
    .reEducation{ grid-area: reEducation; }

    .resume-grid-container{
        display: grid;
        grid-template-areas: 
        'reHeading reHeading reHeading'
        'reContact reProfile reProfile'
        'reSkills reExperience reExperience'
        'reEducation reExperience reExperience';
        padding: 10px;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 2.5%;
        background-color: white;
    }

    .resume-grid-container > div{
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .reHeading{
        text-align: left;
    }

    .reContact{
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }

    .reProfile{
        border-bottom: 1px solid black;
    }

    .reSkills{
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }

    .reEducation{
        border-right: 1px solid black;
    }


    #Resume_Header{
        margin-left: 8%;
    }

    #Career_Title{
        margin-left: 8%;
    }
}

@media only screen and (min-width: 1024px) {
	/*Desktop

} 
*/

