@charset "utf-8";
/*
Author: Chris Charles
Date: 2023/02/03
Description: CSS file for Eportfolio site
*/

/*Basic CSS Styling Rules for ePortfolio Pages*/
body {
    background-color: palegreen;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: goldenrod;
}

a:hover {
    color: darkgoldenrod
}

a:active {
    color: goldenrod;
}

h1 {
    color: darkcyan 
}

.contactMethod {
    font-weight: bold;
    text-decoration: underline;
}

.emails {
    font-style: italic;
}

/*Nav Menu CSS Styling*/

li {
    list-style-type: none;
    float: left;
    margin: 0px;
    padding: 20px;
    background-color: orange;
}
#navagationMenu > li > a {
    display: block;
    width: 20%;
    color: white;
}