@charset "utf-8";
/*
Author: Chris Charles
Date: 2023/02/03
Description: CSS file for Eportfolio site
*/

/*Basic CSS Styling Rules for ePortfolio Pages*/
body {
    background-color: palegreen;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: goldenrod;
}

a:hover {
    color: darkgoldenrod
}

a:active {
    color: goldenrod;
}

h1 {
    color: darkcyan 
}

.contactMethod {
    font-weight: bold;
    text-decoration: underline;
}

.emails {
    font-style: italic;
}

/*Nav Menu CSS Styling*/

/* Outline */
.menuContainer
{
    width: 100%;
    margin: 0 auto;
}

header
{
    border: 1px solid black;
    background-color: gray;
}

header::after
{
    content: '';
    display: table;
    clear: both;
}

.menuContainer h1
{
    float: left;
    padding-left: 10px;
    color: white;
}

.menuContainer nav
{
    float: left;
}

.menuContainer ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuContainer li
{
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
}

.menuContainer nav a 
{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/*
#navagationMenu > li {
    list-style-type: none;
    float: left;
    margin: 0px;
    padding: 20px;
    background-color: orange;
}
#navagationMenu > li > a {
    display: block;
    width: 20%;
    color: white;
}
*/