@charset "utf-8";
/*
Author: Chris Charles
Date: 2023/04/11
Description: CSS file for Eportfolio site GoalPage.
*/

.goalImageSection
{
    height: 100vh;
    width: 100%;
    background-image: url(GoalsGraphic.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.goalImageSection h1
{
    text-align: center;
    color: azure;
    font-size: 4rem;
}


.goalImageSection h1
{
    text-align: center;
}

.flex-containter
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}



.shortTermGoals h2
{
    text-align: center;
}


.longTermGoals h2
{
    text-align: center;
}


/* =============================================
   Tablet and Desktop Styles: greater than 700px
   =============================================
*/

@media (min-width: 701px) 
{
    .shortTermGoals
    {
        width: 50%;
    }

    .longTermGoals
    {
        width: 50%;
    }
}

/* ===============================
   Mobile Styles: 0px to 700px 
   ===============================
*/

@media (max-width: 700px) {

    .goalImageSection h1
    {
        font-size: 3rem;
    }

    .shortTermGoals {
      width: 100%;
    }
  
    .longTermGoals {
      width: 100%;
    }
  }
  


/*
.personalGoals
{
    margin-top: 5%;
    width: 50%;
    height: 100%;
}

.personalGoals h2

{
    margin-left: 5%;   
}

.personalGoals ol li
{
    margin-left: 5%;
}

.goalImage
{
    margin-top: 5%;
    width: 50%;
    height: 100%;
    justify-content: center;
}

.goalImage img
{
    margin-left: 8%;
    width: 85%;
    height: 90%;
}

*/  