@charset "utf-8";
/*
Author: Chris Charles
Date: 2023/02/03
Description: CSS file for Eportfolio site
*/

/*Basic CSS Styling Rules for ePortfolio Pages*/

html, body 
{
    margin: 0;
    height: 100%;
    background-color: darkgray;
}

* 
{
    box-sizing: border-box;
}

/* Nav Bar Styling */

.top-nav 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 50px;
    padding: 1em;
}

.top-nav h1
{
    color: azure;
}


.menu 
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a
{
    color: green;
    text-decoration: none;
}

.menu > li 
{
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container 
{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle 
{
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after 
{
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before
{
    content: '';
    margin-top: -8px;
}

.menu-button::after 
{
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before 
{
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button 
{
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after 
{
    margin-top: 0px;
    transform: rotate(-405deg);
}


/* Footer */ 
.footer
{
    position: relative;
    bottom:0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: green;
    text-align: center;
    padding: 1px;
    font-size: large;
}

@media (min-width: 701px)
{
    /* Making animation on Nav bar hover */

.menu li
{
    position: relative;
}

ul a:hover
{
    color: green;
}

section a::before
{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 200ms;
}

ul a:hover::before
{
    width: 100%;
}

/* Animation End */
}

@media (max-width: 700px) 
{
    .menu-button-container 
    {
        display: flex;
    }

    .menu 
    {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li 
    {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li
    {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li 
    {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu > li:not(:last-child) 
    {
        border-bottom: 1px solid #444;
    }
}

/*
#navagationMenu > li {
    list-style-type: none;
    float: left;
    margin: 0px;
    padding: 20px;
    background-color: orange;
}
#navagationMenu > li > a {
    display: block;
    width: 20%;
    color: white;
}

<div class="menuContainer">
                <h1>Chris Charles</h1>
                <label class="hamburgerMenu"><input type="checkbox"></label>
                <aside class="sidebar">
                    <nav id = "navagationMenu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="GoalPage.html">My Goals</a></li>
                            <li><a href="SkillPage.html">My Skills</a></li>
                            <li><a href="ResumePage.html">My Resume</a></li>
                            <li><a href="ContactPage.html">Contact</a></li>
                        </ul>        
                    </nav>
                </aside>
            </div>
body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
    margin: 0;
    
}

a:link {
    color: goldenrod;
}

a:hover {
    color: darkgoldenrod;
}

a:active {
    color: goldenrod;
}

h1 {
    color: darkcyan;
}


/*Nav Menu CSS Styling

.menuContainer
{
    width: 100%;
    padding: 0;
}

header
{
    background-color: black;
    width: 100%;
    margin: 0;
}

header::after
{
    content: '';
    display: table;
    clear: both;
}

.menuContainer h1
{
    width: 20%;
    float: left;
    padding-left: 5%;
    color: white;
}

.menuContainer nav
{
    float: right;
    padding-right: 5%;
}

.menuContainer ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

LOOK HERE!!!

.menuContainer li
{
    display: inline-block;
    margin-left: 80px;
    padding-top: 30px;

    position: relative;
}

.menuContainer nav a 
{
    color: green;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85rem;
}

nav a:hover
{
    color: green;
}

nav a::before
{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 200ms;
}

nav a:hover::before
{
    width: 100%;
}




*/